*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    min-height: 100vh;
    background: #bbf3f0;

}

ul{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2{
    margin: 7px;
    color: rgb(0, 0, 0);
}
.btn{
    background: #ffffff;
    color: rgb(8, 8, 8);
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    background: #d54ef1;
    color: #000000;
    /* color: rgb(255, 255, 255); */
    padding: 3px;
    
}

.side-bar{
    position: fixed;
    background: #1e31ca;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-bar .brand-name{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar li{
    font-size: 24px;
    padding: 12px 40px;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.side-bar li:hover{
    background: rgb(13, 12, 12);
    color: rgb(86, 208, 249);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;

}
.container .header{
    position: fixed ;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search{
    flex: 2;
}

.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* css for upper widgets */

.container .content{
    position: relative;
    margin: 10vh;
    min-height: 90vh;
    z-index: -1;
}
.container .content .cards{
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 170px;
    height: 150px;
    background: rgb(193, 241, 88);
    margin: 9px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* css of lower widget */

.container .content1{
    position: relative;
    margin: 10vh;
    min-height: 90vh;
    padding: 5px 104px;
}
.container .content1 .cards1{
    padding: 13px;
    margin: -17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content1 .cards1 .card1{
    width: 150px;
    height: 150px;
    background: rgb(106, 108, 236);
    margin: 34px 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.container .content1 .cards1 .card1:hover{
    background: hsl(161, 85%, 63%);
}

/* media query */

@media screen and (max-width: 1050px) {
    .side-bar li{
        font-size: 18px;
    }
    
}
@media screen and (max-width: 940px) {
    .side-bar li span{
        display: none;
    }
    .side-bar{
        align-items: center;

    }
    .side-bar li img{
        width: 40px;
        height: 40px;

    }
    .side-bar li:hover{
        background:#1e31ca;
        padding: 8px 38px;
        border: 2px solid rgb(255, 255, 255);
    }
    .side-bar .brand-name{
        font-size:10px ;
    }
    .container .header{
        position: initial;
    }
   
}
@media screen and (max-width: 536px) {
    .brand-name h1{
        font-size: 12px;
    }
    .container .content .cards{
        justify-content: center;
    }
    .side-bar li img{
        width: 30px;
        height: 30px;
    }
    
    
}